<section class="hero-section">
  <div class="container-fluid px-4">

    <div class="row align-items-center">

      <!-- Text -->
      <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
        <small class="text-uppercase opacity-75">
          &nbsp;
        </small>

        <h1 class="fw-bold mt-3" style="color:#000;">
         Fraud, Waste & Abuse (FWA)
        </h1>

        <p class="mt-3" style="color:#000;" >
       &nbsp;
        </p>

        <!-- <button class="btn btn-primary rounded-pill px-4">
          Schedule a demo →
        </button> -->
      </div>

      <!-- Image -->
      <div class="col-lg-6 col-md-12 text-center text-lg-end pe-lg-0">
        <img src="../../../assets/images/hcs_1.jpg" class="img-fluid hero-img-left-curve" alt="Hero" />
      </div>

    </div>
  </div>

</section> 


<div class="row no-gutters">
    <div class="col-12 py-0">
        <div>
            <section id="page-block-ec-panel" class="page-block-section position-relative font-dark" style="background-image: url(); background-color: #F4F4F2;  min-height:0;">
                <div class="container flex-column">
                    <div class="row flex-grow-1 justify-content-center">
                        <div class="col-12 position-relative">
                            <div class="container">
                                <div class="row">
                                    <div class="col editor-col">

                                        <div class="editor-text">
                                            <span style="font-size: x-large;">Fraud Detection</span>
                                        </div>


                                        <div class="ct-component-divider horizontal sm-horizontal"
                                            style="margin-top: 20px; margin-bottom: 20px;">
                                            <div class="divider colour-orange"></div>
                                        </div>

                                        <div class="editor-text">
                                            <h4>&nbsp;</h4>

                                            <!-- <h4><strong>Introduction and Scope</strong></h4> -->

                                            <p>
                                               We implement rule-based and AI-driven models to detect anomalies and suspicious provider or member behavior.
                                            </p>

                                           

                                            <h4>&nbsp;</h4>

                                            <h4><strong>SIU Enablement</strong></h4>

                                            <p>Mahathi supports SIU teams with case management tools, investigation workflows, and third-party data integrations.</p>

                                            <!-- <h4>&nbsp;</h4>

                                             <h4><strong>Audits & Oversight</strong></h4>

                                              <p>We support program integrity initiatives, audits, data validation, and reconciliation efforts.</p> -->

                                            <!-- <ul>
                                                <li><strong>View ID cards, benefits, and coverage details</strong></li>
                                                <li><strong>Submit and track prior authorizations and referrals</strong></li>
                                                <li><strong>Communicate securely with service teams</strong></li>
                                            </ul>

                                            <p>These portals reduce call volume while improving experience and transparency. 
                                            </p>

                                            <p>&nbsp;</p>

                                            <h4><strong>Customer Service Enablement</strong></h4>

                                            <p>We integrate contact center platforms, CRM systems, and case management tools to enable omnichannel service across voice, chat, email, and SMS—giving service teams a unified operational view</p>

                                              <p>&nbsp;</p>

                                           <h4><strong>Outcomes</strong></h4>

                                            <ul>
                                                <li>Improved member experience</li>
                                                <li>Reduced servicing costs</li>
                                                <li>Faster issue resolution</li>
                                            </ul> -->

                                            
                                        </div>


                                        <!-- <div class="col-md-12 py-3 text-center mt-4">
                                            <a class="bg-white px-5 py-4 inline-block border rounded-full duration-300 ease py-15px lg:py-20px px-25px lg:px-50px text-violet border-violet hover:bg-violet hover:text-white group"
                                                href="#" style="background-color: #76A379 !important;">
                                                <div class="flex items-center lg:text-20 text-center text-black">
                                                    <span class="order-1 text-white">Talk to Our Healthcare Team</span>
                                                    <svg width="100%" viewBox="0 0 15 12" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="w-15px order-2 ml-5px ml-3 text-white">
                                                        <path class="text-white"
                                                            d="M9.51724 0.947642L9.46354 0.892566L9.40984 0.947643L8.85971 1.51188L8.80892 1.56397L8.85944 1.61632L12.8416 5.74271H1H0.925V5.81771V6.59896V6.67396H1H12.8416L8.85944 10.8004L8.80892 10.8527L8.85971 10.9048L9.40984 11.469L9.46354 11.5241L9.51724 11.469L14.5954 6.26069L14.6464 6.20833L14.5954 6.15598L9.51724 0.947642Z"
                                                            fill="currentColor" stroke="currentColor"
                                                            stroke-width="0.15"></path>
                                                    </svg>
                                                </div>
                                            </a>
                                        </div> -->


                                    </div>

                                </div>


                            </div>



                        </div>
                    </div>
                </div>
            </section>



        </div>
    </div>
</div>