<section class="top-white">
  <div class="container">
    <div class="row align-items-center">


    </div>
  </div>
</section>

<!-- HERO SECTION -->
<section class="hero-section text-white">
  <div class="container-fluid">

  </div>

</section>


<!-- WHITE SECTION (TOP) -->
<section class="top-white py-5">
  <div class="container">
    <div class="row align-items-center">


    </div>
  </div>
</section>

<!-- HERO SECTION -->
<section class="hero-section text-black">
  <div class="container-fluid px-4">

    <div class="row align-items-center">

      <!-- Text -->
      <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
        <small class="text-uppercase opacity-75">
          {{pageData.sectionOneText}}
        </small>

        <h1 class="fw-bold mt-3">
          {{pageData.sectionTwoText}}
        </h1>

        <p class="mt-3">
          {{pageData.sectionThreeText}}
        </p>

        <!-- <button class="btn btn-primary rounded-pill px-4">
          Schedule a demo →
        </button> -->
      </div>

      <!-- Image -->
      <div class="col-lg-6 col-md-12 text-center text-lg-end pe-lg-0 extra">
        <img [src]="pageData.heroImage" class="img-fluid hero-img-left-curve" alt="Hero" />
      </div>

    </div>
  </div>

</section>