<footer class="flex-shrink-0">

        <section id="page-block-footer" class="page-block-section position-relative pt-5 pb-5" style="background-color:#76A379 ;">
            <div class="container-fluid">
                <div class="row flex-grow-1 mb-0">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12 footer_cls">
                                <h4 class="mb-3">GET IN TOUCH</h4>
                                <h1 class="mb-4 footer_speak"  >Speak to our team</h1>
                                <p class="mb-4">Interested in learning more about our offerings? Our solutions specialists are ready to help.</p>

                                <a style="background:#fff" class="px-4 py-3 mb-4 inline-block border rounded-full duration-300 ease py-15px lg:py-20px px-25px lg:px-50px text-violet border-violet hover:bg-violet hover:text-white group " href="#">
                                     <div class="flex items-center lg:text-20 ">
                                        <span class="order-1">Get in Touch</span>
                                    </div>               
                                </a>

                                <div class="ct-component-divider horizontal sm-horizontal" style="margin-top: 20px; margin-bottom: 20px;">
                                    <div class="divider colour-orange1"></div>
                                </div>

                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="row align-items-start justify-content-between m-0">
                                <div class="col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer_link_12">
                                    <div class="footer_font_style ">
                                        <h1>Who We Serve</h1>
                                    </div>
                                    <p><a href="#">Carriers</a></p>
                                    <p><a href="#">P&C Carriers</a></p>
                                    <p><a href="#">TPAs</a></p>
                                    <p><a href="#">Claims Management</a></p>
                                    <p><a href="#">Organization</a></p>
                                    <p><a href="#">Care Management</a></p>
                                    <p><a href="#">Companies</a></p>
                                    <p><a href="#">PBMs</a></p>
                                    <p><a href="#">Life Insurance Providers</a></p>
                                    <p><a href="#">Healthcare Payors</a></p>
                                    <p><a href="#">Healthcare </a></p>
                                    <p><a href="#"> Intermediaries </a></p>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer_link_12">
                                    <div class="footer_font_style">
                                    <h1>Solutions We Provide</h1>
                                    </div>
                                    <p><a [routerLink]="['/workerscompensiation']">Workers Comp</a></p>
                                    <p><a href="#">Property & Casualty (P&C)</a></p>
                                    <p><a href="#">Personal Lines</a></p>
                                    <p><a href="#">Reinsurance </a></p>
                                    <p><a href="#">Mailroom Solution</a></p>
                                    <p><a href="#">Workcomp Compliance</a></p>
                                    <p><a href="#">Workbench</a></p>
                                    <p><a href="#">Payor Solutions (FHIR)</a></p>
                                    <p><a href="#">PBM</a></p>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer_link_12">
                                  <div class="footer_font_style">
                                    <h1>Company Information</h1>
                                  </div>
                                    <p><a href="#">About Mahathi</a></p>
                                    <p><a href="#">Legal</a></p>
                                    <p><a href="#">Our Code of Business Conduct</a></p>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footer_link_12">
                                    <div class="footer_font_style">
                                    <h1>Contact Us</h1>
                                    </div>
                                    <p><a href="#">Careers</a></p>
                                    <p><a href="#">Contact Us</a></p>
                                    <p><a href="#">FQAs</a></p>
                                </div>

                                <div class="col-md-12 pt-5">
                                     <div class="ct-component-divider horizontal sm-horizontal" style="margin-top: 20px; margin-bottom: 20px;">
                                    <div class="divider colour-orange1"></div>
                                </div>
                                </div>

                            </div>
                        </div>

                       
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="container">
                        <div class="row align-items-center footer-small">
                            <div class="col-12 col-lg-12 text-right">
                                <div class="footer-socials">
                                    <a href="#"
                                        class="footer-socials-link">
                                        <img src="assets/images/linkedin-logo.svg"
                                            alt="LinkedIn">
                                    </a>

                                    <a href="#" class="footer-socials-link">
                                        <img src="assets/images/twitter_x_logo.svg"
                                            alt="X">
                                    </a>

                                    <a href="#" class="footer-socials-link">
                                        <img src="assets/images/youtube-logo.svg"
                                            alt="X">
                                    </a>

                                    <a href="#" class="footer-socials-link">
                                        <img src="assets/images/social-logos-fin-white-instagram.svg"
                                            alt="X">
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center footer-small">
                            <div class="col-12 col-md-auto">
                                <div class="footer-copyright text-white">
                                    <p class="text-12" style="color: #F4F4F2;">
                                        © 2025 Mahathi Infotech LLC. All rights reserved.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </footer>