<div class="row no-gutters">
    <div class="col-12 py-0">
        <div>

            <section id="page-block-banner-carousel"
                class="page-block-section banner-carousel position-relative tall-banner">
                <div class="banner-carousel-container w-100">
                    <div class="banner-carousel-item position-relative">
                        <video #videoPlayer autoplay muted loop playsinline class="bg-video banner-video">
                            <source src="assets/videos/bg_video.mp4" type="video/mp4" />
                        </video>

                        <!-- <video #videoPlayer autoplay muted loop playsinline class="bg-video banner-video">
                                    <source src="assets/videos/bg_video.mp4" type="video/mp4" />
                                    </video> -->

                        <div class="container-fluid h-100">
                            <div class="row h-100">
                                <div class="col-12   py-0 h-100">
                                    <div
                                        class="banner-carousel-item-inner d-flex align-items-center h-100 text-slider px-2">
                                        <div class="slide active">
                                            <div class="banner-carousel-item-inner-title text-white">
                                                <h4><strong><span class="font-weight-light">
                                                            Our Insurance Indurstry experts.
                                                        </span></strong></h4>
                                            </div>
                                            <div class="banner-carousel-item-inner-content text-white mt-3">
                                                <h1 style="font-weight:400; text-transform: uppercase;font-size: 30px;">
                                                    Unleashing the power of creativity</h1>
                                            </div>
                                        </div>

                                        <div class="slide">
                                            <div class="banner-carousel-item-inner-title text-white">
                                                <h4><strong><span class="font-weight-light">
                                                            Our Insurance Indurstry experts.
                                                        </span></strong></h4>
                                            </div>
                                            <div class="banner-carousel-item-inner-content text-white mt-3">
                                                <h1
                                                    style="font-weight: 400; text-transform: uppercase;font-size: 30px;">
                                                    Reinventing solution approach</h1>
                                            </div>
                                        </div>

                                        <div class="slide">
                                            <div class="banner-carousel-item-inner-title text-white">
                                                <h4><strong>
                                                        <span class="font-weight-light">
                                                            Our Insurance Indurstry experts.
                                                        </span>
                                                    </strong></h4>
                                            </div>
                                            <div class="banner-carousel-item-inner-content text-white mt-3">
                                                <h1
                                                    style="font-weight: 400;  text-transform: uppercase;font-size: 30px;">
                                                    Effecting positive business outcomes</h1>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="slick-slider__category-menu-container">
                                <ul class="slick-slider__category-menu-container__list px-5">
                                    <!-- <li class="slick-slider__category-menu-container__category-menu-item__mobile_dot_arrow slick-arrow"
                                                data-mobile-arrow="next" style="display: list-item;">&lt;</li> -->
                                    <li class="slick-slider__category-menu-container__category-menu-item__video-item mt-1"
                                        data-related-slide-index="0">

                                        <svg width="38" height="38" viewBox="0 0 44 44" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">


                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M22 40C31.9411 40 40 31.9411 40 22C40 12.0589 31.9411 4 22 4C12.0589 4 4 12.0589 4 22C4 31.9411 12.0589 40 22 40ZM22 44C34.1503 44 44 34.1503 44 22C44 9.84974 34.1503 0 22 0C9.84974 0 0 9.84974 0 22C0 34.1503 9.84974 44 22 44Z"
                                                fill="#7dfa4b" />


                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M14 19C12.9 19 12 19.9 12 21C12 22.1 12.9 23 14 23H25.17L20.58 27.59C19.8 28.37 19.8 29.63 20.58 30.41C21.37 31.2 22.63 31.2 23.41 30.41L31.41 22.41C32.2 21.63 32.2 20.37 31.41 19.59L23.41 11.59C22.63 10.8 21.37 10.8 20.58 11.59C19.8 12.37 19.8 13.63 20.58 14.41L25.17 19H14Z"
                                                fill="#7dfa4b" />
                                        </svg>


                                    </li>
                                    <li class="slick-slider__category-menu-container__category-menu-item__text-item"
                                        data-related-slide-index="4">Mailroom</li>
                                    <li
                                        class="slick-slider__category-menu-container__category-menu-item__menu_seperator">
                                        ∣</li>
                                    <li class="slick-slider__category-menu-container__category-menu-item__text-item"
                                        data-related-slide-index="5">WorkBench</li>
                                    <li
                                        class="slick-slider__category-menu-container__category-menu-item__menu_seperator">
                                        ∣</li>
                                    <li class="slick-slider__category-menu-container__category-menu-item__text-item"
                                        data-related-slide-index="5">Compliance</li>
                                    <li
                                        class="slick-slider__category-menu-container__category-menu-item__menu_seperator">
                                        ∣</li>
                                    <li class="slick-slider__category-menu-container__category-menu-item__text-item"
                                        data-related-slide-index="5">BUSINESS OPS</li>
                                    <li
                                        class="slick-slider__category-menu-container__category-menu-item__menu_seperator">
                                        ∣</li>
                                    <li class="slick-slider__category-menu-container__category-menu-item__text-item"
                                        data-related-slide-index="1" [routerLink]="['/workerscompensiation']">Workers
                                        Comp</li>
                                    <li
                                        class="slick-slider__category-menu-container__category-menu-item__menu_seperator">
                                        ∣</li>
                                    <li class="slick-slider__category-menu-container__category-menu-item__text-item"
                                        data-related-slide-index="2">P&C And Life</li>
                                    <li
                                        class="slick-slider__category-menu-container__category-menu-item__menu_seperator">
                                        ∣</li>
                                    <li class="slick-slider__category-menu-container__category-menu-item__text-item"
                                        data-related-slide-index="3">Payor and PBM</li>


                                    <!-- <li class="slick-slider__category-menu-container__category-menu-item__mobile_dot_arrow slick-arrow"
                                                data-mobile-arrow="prev" style="display: list-item;">&gt;</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="page-block-ec-panel" class="page-block-section position-relative font-dark"
                style="background-color: #F4F4F2;  min-height:0; ">
                <div class="container flex-column">
                    <div class="row flex-grow-1 justify-content-center">
                        <div class="col-12 position-relative sec-1">
                            <div class="container">
                                <div class="row justify-content-between">
                                    <div
                                        class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center editor-col">
                                        <div class="editor-text">
                                            <h2 class="h1" style="text-align: center;line-height: 3.5rem;">
                                                <!-- <big> -->
                                                <span class="big"> Mahathi helps
                                                    <!-- <span
                                                                style="border-bottom: 2px solid #f00;margin: 0;line-height: 3rem;">Fortune
                                                                500 insurance & healthcare clients</span> <br />
                                                            solve their toughest business challenges
                                                            </span> -->
                                                    <span class="underline_cls1">
                                                        Fortune 500 insurance & healthcare clients</span> <br />
                                                    <span style="font-weight: bold;"> solve their toughest business
                                                        challenges </span>
                                                </span>
                                                <!-- </big> -->
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="dg-home-intro dashboard-grid-layout" id="home-intro">
                <div class="dashboard-tab-wrapper">
                    <button class="arrow-button" (click)="goToPreviousTab()">←</button>

                    <app-solution-grid [options]="dashboardTabs" [heading]="dashboardHeading"
                        [gridItems]="dashboardGridItems" (optionSelected)="onTabChange($event)">
                    </app-solution-grid>

                    <button class="arrow-button" (click)="goToNextTab()">→</button>
                </div>
            </section>

            <section id="page-block-ec-panel" class="page-block-section position-relative font-dark"
                style="background-color:#F4F4F2;  min-height:0; ">
                <div class="container flex-column">
                    <div class="row flex-grow-1 justify-content-center">
                        <div class="col-12 position-relative py-0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 py-5">
                                        <div class="editor-text">
                                            <h2 style="text-align: center; line-height: 3.5rem;">
                                                <!-- <big> -->
                                                <span class="big">
                                                    We deliver change where it's most impactful,<br />
                                                    when it's most needed. We're known for:
                                                </span>
                                                <!-- </big> -->
                                            </h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-start justify-content-center">
                                    <div
                                        class="col col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4 align-self-start editor-col">
                                        <section id="page-block-ec-panel"
                                            class="page-block-section position-relative font-dark"
                                            style="background-color:#F4F4F2;min-height:0;border: 1px solid #eceaea;border-radius: 0px 30% 0px 30%;box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);">
                                            <div class="container flex-column"
                                                style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                                <div class="row flex-grow-1 justify-content-center"
                                                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                                    <div class="col-12 position-relative">
                                                        <div class="container">
                                                            <div class="container-fluid text-center">
                                                                <div class="m-4 spacer d-none d-md-block">
                                                                </div>

                                                                <div class="editor-text text-center mb-3">
                                                                    <h1 class="h2 py-3 ">
                                                                        <!-- <big style="font-size: 1.6rem;"> -->
                                                                        <span class="big" style="font-size: 1.6rem;">
                                                                            Guidewire <br /> Implementations
                                                                        </span>
                                                                        <!-- </big> -->
                                                                    </h1>
                                                                </div>

                                                                <img src="assets/images/GW_img.png">

                                                                <div class="pt-3 spacer d-none d-md-block">
                                                                </div>

                                                                <div class="editor-text text-center">
                                                                    <h1 class="h2 text-green1 my-3">
                                                                        <!-- <big style="font-size: 1.6rem; font-weight:bold !important;"> -->
                                                                        <span class="big"
                                                                            style="font-size: 1.6rem; font-weight:bold !important;">
                                                                            Enterprise & Cloud
                                                                        </span>
                                                                        <!-- </big> -->
                                                                    </h1>
                                                                </div>

                                                                <div class="pb-4 spacer d-none d-md-block">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                    <div
                                        class="col py-4 col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4 align-self-start editor-col">
                                        <section id="page-block-ec-panel"
                                            class="page-block-section position-relative font-dark"
                                            style="background-color:#F4F4F2;min-height:0;border: 1px solid #eceaea;border-radius: 0px 30% 0px 30%;box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);">
                                            <div class="container flex-column">
                                                <div class="row flex-grow-1 justify-content-center">
                                                    <div class="col-12 position-relative">
                                                        <div class="container">
                                                            <div class="container-fluid text-center">
                                                                <div class="m-4 spacer d-none d-md-block">
                                                                </div>

                                                                <div class="editor-text text-center mb-3">
                                                                    <h1 class="h2 py-3 ">
                                                                        <!-- <big style="font-size: 1.6rem;"> -->
                                                                        <span class="big" style="font-size: 1.6rem;">
                                                                            CCM
                                                                            Implementations <br />&
                                                                            Integrations
                                                                        </span>
                                                                        <!-- </big> -->
                                                                    </h1>
                                                                </div>

                                                                <img src="assets/images/Quadient_img.png">

                                                                <div class="pt-3 spacer d-none d-md-block">
                                                                </div>

                                                                <div class="editor-text text-center">
                                                                    <h1 class="h2 text-green1 my-3">
                                                                        <!-- <big > -->
                                                                        <span class="big"
                                                                            style="font-size: 1.6rem; font-weight: bold !important;">
                                                                            Inspire
                                                                            &
                                                                            Impress
                                                                        </span>
                                                                        <!-- </big> -->
                                                                    </h1>
                                                                </div>

                                                                <div class="pb-4 spacer d-none d-md-block">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                    <div
                                        class="col py-4 col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4 align-self-start editor-col">
                                        <section id="page-block-ec-panel"
                                            class="page-block-section position-relative font-dark"
                                            style="background-color:#F4F4F2;min-height:0;border: 1px solid #eceaea;border-radius: 0px 30% 0px 30%;box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);">
                                            <div class="container flex-column">
                                                <div class="row flex-grow-1 justify-content-center">
                                                    <div class="col-12 position-relative">
                                                        <div class="container">
                                                            <div class="container-fluid text-center">
                                                                <div class="m-4 spacer d-none d-md-block">
                                                                </div>

                                                                <div class="editor-text text-center mb-3">
                                                                    <h1 class="h2 py-3 ">
                                                                        <!-- <big style="font-size: 1.6rem; "> -->
                                                                        <span class="big" style="font-size: 1.6rem; ">
                                                                            5 Star
                                                                            <br />Client Rating
                                                                        </span>
                                                                        <!-- </big> -->
                                                                    </h1>
                                                                </div>

                                                                <img src="assets/images/5star.png">

                                                                <div class="pt-3 spacer d-none d-md-block">
                                                                </div>

                                                                <div class="editor-text text-center">
                                                                    <h1 class="h2 text-green1 my-3">
                                                                        <!-- <big style="font-size: 1.6rem; font-weight: bold !important;"> -->
                                                                        <span class="big"
                                                                            style="font-size: 1.6rem; font-weight: bold !important;">
                                                                            96%
                                                                            CSAT
                                                                        </span>
                                                                        <!-- </big> -->
                                                                    </h1>
                                                                </div>

                                                                <div class="pb-4 spacer d-none d-md-block">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                </div>
                            </div>
                            <div class="mb-5 spacer d-none d-md-block">
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="page-block-fs-panel" class="page-block-section position-relative"
                style="background-color: #6D9C72;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 pt-0 pb-4">
                            <div class="editor-text my-4 py-5 text-white">
                                <h2 style="text-align: center;">
                                    <!-- <big> -->
                                    <span class="big"> Helping our clients stay ahead and drive
                                        value</span>
                                    <!-- </big> -->
                                </h2>
                            </div>
                        </div>
                    </div>

                    <section class="py-65px mb-3">
                        <div class="container">
                            <div class="relative mb-60px lg:mb-80px lg:pb-30px">
                                <div class="focus w-20px h-full absolute -left-10px lg:right-0 mx-auto">
                                    <div
                                        class="w-1px h-full border-l-[thin] lg:border-l-[1px] border-violet absolute left-1/2 lg:translate-x-[-50%]">
                                    </div>
                                    <div
                                        class="sticky top-1/2 bg-violet rounded-full mx-6px lg:mx-0 w-9px h-9px lg:w-20px lg:h-20px">
                                    </div>
                                </div>
                                <ol class="lg:counter-reset">
                                    <li
                                        class="mb-40px flex md:items-center lg:items-start lg:counter-increment lg:before:counter-result lg:mb-0 lg:w-1/2 lg:pr-20px">
                                        <div
                                            class="mx-20px min-w-[105px] w-1/4 md:w-1/3 lg:w-150px xl:w-200px flex-shrink-0">
                                            <svg width="100%" viewBox="0 0 200 227" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <title>Mahathi How We Work</title>
                                                <path
                                                    d="M117.713 225.665C59.8337 232.065 2.71587 210.326 0.975139 143.234C-2.61513 77.5758 -0.439211 4.30363 82.3545 0C146.87 0 199.092 52.9678 199.092 118.405C205.729 172.697 175.701 225.334 117.713 225.665Z"
                                                    fill="url(#0988083927)"></path>
                                                <defs>
                                                    <pattern id="0988083927" patternContentUnits="userSpaceOnUse"
                                                        width="1" height="1">
                                                        <image id="6714001568" height="100%"
                                                            href="assets/images/01.jpg"></image>
                                                    </pattern>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div>
                                            <p class="mb-10px text-20 md:text-25 text-violet font-serif font-bold antialiased lg:text-40 text-white"
                                                style="color: #302d42;">Deep Insurance Expertise</p>
                                            <p
                                                class="xl:w-4/5 text-12 md:text-18-body tracking-wide antialiased text-white">
                                                Leading industry advisors and experts from P&C, L&A and
                                                Healthcare enabling profound impact to 
                                            </p>
                                        </div>
                                    </li>
                                    <li
                                        class="mb-40px flex md:items-center lg:items-start lg:counter-increment lg:before:counter-result lg:mb-0 lg:w-1/2 lg:ml-auto lg:pl-20px">
                                        <div
                                            class="mx-20px min-w-[105px] w-1/4 md:w-1/3 lg:w-150px xl:w-200px flex-shrink-0">
                                            <svg width="100%" viewBox="0 0 200 227" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <title>Mahathi How We Work </title>
                                                <path
                                                    d="M117.713 225.665C59.8337 232.065 2.71587 210.326 0.975139 143.234C-2.61513 77.5758 -0.439211 4.30363 82.3545 0C146.87 0 199.092 52.9678 199.092 118.405C205.729 172.697 175.701 225.334 117.713 225.665Z"
                                                    fill="url(#3360491863)"></path>
                                                <defs>
                                                    <pattern id="3360491863" patternContentUnits="userSpaceOnUse"
                                                        width="1" height="1">
                                                        <image id="0100576875" height="100%"
                                                            href="assets/images/02.jpg"></image>
                                                    </pattern>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div>
                                            <p
                                                class="mb-10px text-20 md:text-25 text-violet font-serif font-bold antialiased lg:text-40 text-white">
                                                Differentiated Engagement Models</p>
                                            <p
                                                class="xl:w-4/5 text-12 md:text-18-body tracking-wide antialiased text-white">
                                                Client centric engagement models placing your interests in front
                                                of all our actions
                                            </p>
                                        </div>
                                    </li>
                                    <li
                                        class="mb-40px flex md:items-center lg:items-start lg:counter-increment lg:before:counter-result lg:mb-0 lg:w-1/2 lg:pr-20px">
                                        <div
                                            class="mx-20px min-w-[105px] w-1/4 md:w-1/3 lg:w-150px xl:w-200px flex-shrink-0">
                                            <svg width="100%" viewBox="0 0 200 227" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <title>Mahahti How We Work</title>
                                                <path
                                                    d="M117.713 225.665C59.8337 232.065 2.71587 210.326 0.975139 143.234C-2.61513 77.5758 -0.439211 4.30363 82.3545 0C146.87 0 199.092 52.9678 199.092 118.405C205.729 172.697 175.701 225.334 117.713 225.665Z"
                                                    fill="url(#1207145799)"></path>
                                                <defs>
                                                    <pattern id="1207145799" width="1" height="1">
                                                        <image id="5567842214" height="100%"
                                                            href="assets/images/03.jpg"></image>
                                                    </pattern>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div>
                                            <p
                                                class="mb-10px text-20 md:text-25 text-violet font-serif font-bold antialiased lg:text-40 text-white">
                                                Transparent Costing and Execution</p>
                                            <p
                                                class="xl:w-4/5 text-12 md:text-18-body tracking-wide antialiased text-white">
                                                Costing models made fully available to you bring full
                                                transparency and strong governance for all
                                            </p>
                                        </div>
                                    </li>
                                    <li
                                        class="mb-40px flex md:items-center lg:items-start lg:counter-increment lg:before:counter-result lg:mb-0 lg:w-1/2 lg:ml-auto lg:pl-20px">
                                        <div
                                            class="mx-20px min-w-[105px] w-1/4 md:w-1/3 lg:w-150px xl:w-200px flex-shrink-0">
                                            <svg width="100%" viewBox="0 0 200 227" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <title>Mahathi How We Work </title>
                                                <path
                                                    d="M117.713 225.665C59.8337 232.065 2.71587 210.326 0.975139 143.234C-2.61513 77.5758 -0.439211 4.30363 82.3545 0C146.87 0 199.092 52.9678 199.092 118.405C205.729 172.697 175.701 225.334 117.713 225.665Z"
                                                    fill="url(#3360491866)"></path>
                                                <defs>
                                                    <pattern id="3360491866" width="1" height="1">
                                                        <image id="0100576876" height="100%"
                                                            href="assets/images/04.jpg"></image>
                                                    </pattern>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div>
                                            <p
                                                class="mb-10px text-20 md:text-25 text-violet font-serif font-bold antialiased lg:text-40 text-white">
                                                Process & Automation over Headcount</p>
                                            <p
                                                class="xl:w-4/5 text-12 md:text-18-body tracking-wide antialiased text-white">
                                                Ensuring Automation and AI tools take precedence to resolve
                                                every business problem instead of adding headcount
                                            </p>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div class="lg:text-center">
                                <div class="md:flex lg:justify-center">
                                    <div class="mb-20px first:ml-0 last:mr-0 md:mx-10px md:mb-0">
                                        <a class="bg-white px-5 py-4 inline-block border rounded-full duration-300 ease py-15px lg:py-20px px-25px lg:px-50px text-violet border-violet hover:bg-violet hover:text-white group "
                                            href="#">
                                            <div class="flex items-center lg:text-20 ">
                                                <span class="order-1">learn more about us</span>
                                                <svg width="100%" viewBox="0 0 15 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    class="w-15px order-2 ml-5px ml-3">
                                                    <path
                                                        d="M9.51724 0.947642L9.46354 0.892566L9.40984 0.947643L8.85971 1.51188L8.80892 1.56397L8.85944 1.61632L12.8416 5.74271H1H0.925V5.81771V6.59896V6.67396H1H12.8416L8.85944 10.8004L8.80892 10.8527L8.85971 10.9048L9.40984 11.469L9.46354 11.5241L9.51724 11.469L14.5954 6.26069L14.6464 6.20833L14.5954 6.15598L9.51724 0.947642Z"
                                                        fill="currentColor" stroke="currentColor" stroke-width="0.15">
                                                    </path>
                                                </svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </section>



            <!-- <div class="m-5 spacer d-none d-md-block">
                    </div>

                    <div class="container">
                    </div> -->
            <!-- 
                    <div class="m-5 spacer d-none d-md-block">
                    </div> -->

            <section id="page-block-ec-panel" class="page-block-section position-relative font-dark"
                style=" background-color:#F4F4F2;  min-height:0 !important; ">
                <div class="container flex-column">
                    <div class="row flex-grow-1 justify-content-center">
                        <div class="col-12 position-relative">
                            <div class="container">
                                <div class="row align-items-center justify-content-between">
                                    <div
                                        class="col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 align-self-start editor-col">
                                        <img src="assets/images/10years.png" style="width: 80%;">
                                    </div>

                                    <div class="col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 editor-col">
                                        <div class="editor-text">
                                            <h2 style="color:#333333">Celebrating 10 Years of
                                                Building for Better</h2>
                                            <p
                                                style="color:#333333; font-family: 'Open Sans', 'Open_Sans', sans-serif; font-size: 1.1rem; font-weight: 400;">
                                                For 10 years, Mahathi has grown, evolved, and innovated – always
                                                with clients at the center of everything we do. Together with
                                                our clients, partners and teams, we’re building a future where
                                                people are business are empowered to do their best work and live
                                                their best lives.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>
    </div>
</div>