<div class="row no-gutters">
  <div class="col-12 py-0">
    <div>
      <app-aboutus-banner [pageData]="healthcareData"></app-aboutus-banner>
      <section class="py-85px bg-ivory-deep">
        <div class="container">
          <div class="mb-40px lg:mb-50px">
            <h2 class="inline-block rounded-5px py-5px px-[13px] font-semibold uppercase bg-gold1 text-violet">
              Our Team
            </h2>
          </div>
          <!-- FOUNDERS / LEADERSHIP GRID -->
          <div class="founders-grid">

            <!-- FOUNDERS -->
            <div class="founder-card">
              <img src="assets/images/Krishna3.png" alt="Krishna Mahalingam">
              <h3>Krishna Mahalingam</h3>
              <p class="role">Co Founder</p>
              <p class="d-none">
                The architect and the heart & soul behind our organization, that understands and propagates the idea of
                technology being the backbone for a successful business.
              </p>
            </div>

            <div class="founder-card">
              <img src="assets/images/vishwa4_1.png" alt="Vishwa Ganapathy">
              <h3>Vishwa Ganapathy</h3>
              <p class="role">Co Founder</p>
              <p class="d-none">
                A serial entrepreneur with a passion for building client centric organizations that deliver measurable
                value.
              </p>
            </div>

            <div class="founder-card">
              <img src="assets/images/Gayathri.png" alt="Gayathri Ramaswamy">
              <h3>Gayathri Ramaswamy</h3>
              <p class="role">Director & Head of Finance</p>
              <p class="d-none">
                Gayathri has been an integral part of our organization since inception.
              </p>
            </div>

            <!-- LEADERSHIP -->
            <div class="founder-card">
              <img src="assets/images/anandnew1.png" alt="Anand Mahalingham">
              <h3>Anand Mahalingham</h3>
              <p class="role">Senior Vice President & Client Partner – Insurance</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/Harish_new1.png" alt="Harish R">
              <h3>Harish R</h3>
              <p class="role">Vice President & Client Partner – Legal & ManLog</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/pamela1_new.png" alt="Pamela Bogdanovich">
              <h3>Pamela Bogdanovich</h3>
              <p class="role">Client Engagement Director</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/Tracey_ne1.png" alt="Tracey Seals">
              <h3>Tracey Seals</h3>
              <p class="role">Client Engagement Director</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/sdnew12.png" alt="Ed Caldwell">
              <h3>Ed Caldwell</h3>
              <p class="role">Client Engagement</p>
            </div>
            <div class="founder-card">
              <img src="assets/images/kathyq.png" alt="Kathy MacDonald">
              <h3>Kathy MacDonald</h3>
              <p class="role">Client Engagement Manager</p>
            </div>
            <div class="founder-card">
              <img src="assets/images/mychlneww1.png" alt="Michael Reynolds">
              <h3>Michael Reynolds</h3>
              <p class="role">Director of Sales</p>
            </div>
            <div class="founder-card">
              <img src="assets/images/ganesan_new1.png" alt="Ganesan Durairaj">
              <h3>Ganesan Durairaj</h3>
              <p class="role">Senior Vice President</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/niru_new1.png" alt="Nirupama Rajendran">
              <h3>Nirupama Rajendran</h3>
              <p class="role">Head of Business Consulting – Insurance</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/pranesh_new_1.png" alt="Pranesh Mahendran">
              <h3>Pranesh Mahendran</h3>
              <p class="role">Delivery Partner - Insurance</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/sukumar3_new1.png" alt="Sukumar Karuppusamy">
              <h3>Sukumar Karuppusamy</h3>
              <p class="role">Technology Partner - Insurance</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/J7_new.png" alt="Jerry Gonsel">
              <h3>Jerry Gonsel</h3>
              <p class="role">Head of Operations</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/dhy_new1.png" alt="Dhyanesh Mahendran">
              <h3>Dhyanesh Mahendran</h3>
              <p class="role">Head of Infrastructure & Business Process Management</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/santhosh_new_1.png" alt="Santhosh Kumar">
              <h3>Santhosh Kumar</h3>
              <p class="role">Head of Technology Incubation & Innovation</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/thani_nw1.png" alt="Thanikaivel Ekambaram">
              <h3>Thanikaivel Ekambaram</h3>
              <p class="role">Head of Information Security</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/rajkumar_new1.png" alt="Rajkumar Kanagaraju">
              <h3>Rajkumar Kanagaraju</h3>
              <p class="role">Head of Quality Assurance & Automation</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/dominic_new1.png" alt="Dominic Lintan">
              <h3>Dominic Lintan</h3>
              <p class="role">Quality Assurance Manager & Lead, Philippines Operations</p>
            </div>

            <div class="founder-card">
              <img src="assets/images/petite_new1.png" alt="Petite Apostol">
              <h3>Petite Apostol</h3>
              <p class="role">Lead Quality Assurance Engineer</p>
            </div>

          </div>

        </div>
      </section>
    </div>
  </div>
</div>