<div class="row no-gutters">
  <div class="col-12 py-0">
    <div>

      <app-aboutus-banner [pageData]="healthcareData"></app-aboutus-banner>

      <section id="page-block-banner-carousel" class="page-block-section banner-carousel position-relative active d-none">
        <div class="banner-carousel-container w-100">
          <div class="banner-carousel-item position-relative"
            style="background-image: url(assets/images/abt_img_hg.png)">
            <div class="banner-carousel-item-overlay" style="background-color: rgba(0,0,0,0);"></div>
            <div class="container h-100">
              <div class="row h-100">
                <div class="col-12 col-md-6 py-0 h-100 mt-5">
                  <div class="banner-carousel-item-inner d-flex align-items-center h-100">
                    <div>
                      <div class="banner-carousel-item-inner-title text-white">
                        <h1>
                          Our purpose has always been client centricity.
                        </h1>
                      </div>

                      <div class="banner-carousel-item-inner-content text-white">
                        <p><br>
                          A lean & responsive management, a team that’s invested in client’s success, consultants
                          consistently developing subject matter expertise and a leadership that’s focused on quality &
                          timely delivery than selling new services
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 py-0 h-100">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="dots w-100">
                <div class="dots-inner"></div>
              </div>
              <div class="arrows w-100"></div>
            </div>
          </div>
        </div>
      </section>



      <section class=" py-85px pt-20px">
        <div class="container">

          <div class="relative pb-10px md:mb-50px md:pb-120px">
            <div class="focus w-20px h-full absolute -left-10px md:right-0 mx-auto">
              <div
                class="w-1px h-full border-l-[thin] lg:border-l-[1px] border-violet absolute left-1/2 lg:translate-x-[-50%]">
              </div>
              <div class="sticky top-1/2 bg-violet rounded-full mx-6px lg:mx-0 w-9px h-9px lg:w-20px lg:h-20px"></div>
            </div>
            <ol class="counter-reset">
              <li class="mb-70px grid grid-cols-6 gap-x-5 md:grid-cols-12 md:mb-120px last:mb-0">
                <div
                  class="md:order-1 mb-25px md:mr-50px md:mb-0 md:col-start-auto col-span-5 col-start-2 text-center md:col-start-auto md:col-span-6 md:flex lg:block md:items-center">
                  <div class="w-full">
                    <span class=" lazy-load-image-background opacity lazy-load-image-loaded"
                      style="display: inline-block;">
                      <img src="assets/images/home_img.png" alt="Mahathi About ">
                    </span>
                  </div>
                </div>
                <div
                  class="md:ml-25px md:order-2 col-span-5 col-start-2 counter-increment before:counter-result md:col-start-auto">
                  <p class="mt-5px mb-15px text-20  antialiased tracking-tight lg:text-25 last:mb-0">
                    <span>Since our founding, our goals have always reflected our core values.</span>
                    <span
                      style="float:left; margin:10px 0; width:100%; list-style: disc;display: list-item; margin-left:1em">Reachable
                      - always available for our clients</span>
                    <span
                      style="float:left; margin:10px 0; width:100%; list-style: disc;display: list-item; margin-left:1em">Responsible
                      - ensuring appropriate solutions are provided every time</span>
                    <span
                      style="float:left; margin:10px 0; width:100%; list-style: disc;display: list-item; margin-left:1em">Reliable
                      - delivering results consistently</span>
                  </p>
                </div>
              </li>
              <li class="mb-70px grid grid-cols-6 gap-x-5 md:grid-cols-12 md:mb-120px last:mb-0">
                <div
                  class="md:order-2 mb-25px md:ml-30px md:mb-0 md:col-start-3 col-span-6 col-start-2 text-center md:col-start-8 md:col-span-10 md:flex lg:block md:items-center">
                  <div class="w-full">
                    <span class=" lazy-load-image-background opacity lazy-load-image-loaded"
                      style="display: inline-block;">
                      <img src="assets/images/aboutus41.png" alt="Mahathi About">
                    </span>
                  </div>
                </div>
                <div
                  class="md:mr-25px md:order-1 col-span-5 col-start-2  md:col-start-auto ">
                  <p class="mt-5px mb-15px text-20 cont_txt counter-increment before:counter-result  antialiased tracking-tight lg:text-25 last:mb-0">
                    <span>
                      To stay true to our core values, we unequivocally defined that our success will be measured only
                      based
                      on our client’s success.
                    </span>
                  </p>
                </div>
              </li>
              <li class="mb-70px grid grid-cols-6 gap-x-5 md:grid-cols-12 md:mb-120px last:mb-0">
                <div
                  class="md:order-1 mb-25px md:mr-50px md:mb-0 md:col-start-auto col-span-5 col-start-2 text-center md:col-start-auto md:col-span-6 md:flex lg:block md:items-center">
                  <div class="w-full">
                    <span class=" lazy-load-image-background opacity lazy-load-image-loaded"
                      style="display: inline-block;">
                      <img src="assets/images/abtus_bck_wht.png" alt="Mahathi About">
                    </span>
                  </div>
                </div>
                <div
                  class="md:ml-25px md:order-2 col-span-5 col-start-2 counter-increment before:counter-result md:col-start-auto">
                  <p class="mt-5px mb-15px text-20  antialiased tracking-tight lg:text-25 last:mb-0">
                    <span>We developed a culture of team-based approach, accountability, sense of purpose for the top
                      talent
                      we hired.</span>
                  </p>
                </div>
              </li>
              <li class="mb-70px grid grid-cols-6 gap-x-5 md:grid-cols-12 md:mb-120px last:mb-0">
                <div
                  class="md:order-2 mb-25px md:ml-30px md:mb-0 md:col-start-3 col-span-6 col-start-2 text-center md:col-start-8 md:col-span-10 md:flex lg:block md:items-center">
                  <div class="w-full">
                    <span class="lazy-load-image-background opacity lazy-load-image-loaded"
                      style="display: inline-block;">
                      <img src="assets/images/aboutus61.png" alt="Mahathi About">
                    </span>
                  </div>
                </div>
                <!-- <div class="md:order-2 md:flex lg:block md:items-center  mx-20px min-w-[105px] w-1/4 md:w-1/3 lg:w-150px xl:w-200px flex-shrink-0">
                <svg width="100%" viewBox="0 0 200 227" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <title>Mahathi How We Work </title>
                  <path d="M117.713 225.665C59.8337 232.065 2.71587 210.326 0.975139 143.234C-2.61513 77.5758 -0.439211 4.30363 82.3545 0C146.87 0 199.092 52.9678 199.092 118.405C205.729 172.697 175.701 225.334 117.713 225.665Z" fill="url(#3360491863)"></path>
                  <defs>
                    <pattern id="3360491863" patternContentUnits="userSpaceOnUse" width="1" height="1">
                      <image id="0100576875" height="100%" href="assets/images/aboutus5.png"></image>
                    </pattern>
                  </defs>
                </svg>
              </div> -->
                <div
                  class="md:mr-25px md:order-1 col-span-5 col-start-2  md:col-start-auto">
                  <p class="mt-5px mb-15px text-20 cont_txt counter-increment before:counter-result antialiased tracking-tight lg:text-25 last:mb-0">
                    <span>We continue(d) to invest in training & continuous learning that’s aligned with our client’s
                      roadmap.</span>
                  </p>
                </div>
              </li>
            </ol>
          </div>
          <div class="text-center">
            <!-- <p class="px-30px col-span-12 text-center text-20 tracking-tight  font-light antialiased lg:text-25 md:col-span-4 md:col-start-5">We built the future of technology consulting & services, today.</p> -->
            <p
              class="p-bg tracking-tight d-none">
              We are a people first organization that strongly believes in a Client Centric approach & creating
              measurable
              value.
            </p>
            <div class="editor-text">
                                            <h2 class="h1 p-bg" style="text-align: center;line-height: 3.5rem;">
                                                <!-- <big> -->
                                                <span class="big"> We are a
                                                    <!-- <span
                                                                style="border-bottom: 2px solid #f00;margin: 0;line-height: 3rem;">Fortune
                                                                500 insurance & healthcare clients</span> <br />
                                                            solve their toughest business challenges
                                                            </span> -->
                                                    <span class="underline_cls1">
                                                        people first organization</span>
                                                    <span> that strongly believes in a Client Centric approach & creating
              measurable value.</span>
                                                </span>
                                                <!-- </big> -->
                                            </h2>
                                        </div>
          </div>
        </div>
      </section>

    <section class="py-85px bg-ivory-deep">
  <div class="container">
    <div class="mb-40px lg:mb-50px">
      <h2 class="inline-block rounded-5px py-5px px-[13px] font-semibold uppercase bg-gold1 text-violet">
        Our Team
      </h2>
    </div>
<!-- FOUNDERS / LEADERSHIP GRID -->
<div class="founders-grid">

  <!-- FOUNDERS -->
  <div class="founder-card">
    <img src="assets/images/Krishna3.png" alt="Krishna Mahalingam">
    <h3>Krishna Mahalingam</h3>
    <p class="role">Co Founder</p>
    <p class="d-none">
      The architect and the heart & soul behind our organization, that understands and propagates the idea of
      technology being the backbone for a successful business.
    </p>
  </div>

  <div class="founder-card">
    <img src="assets/images/vishwa4_1.png" alt="Vishwa Ganapathy">
    <h3>Vishwa Ganapathy</h3>
    <p class="role">Co Founder</p>
    <p class="d-none">
      A serial entrepreneur with a passion for building client centric organizations that deliver measurable value.
    </p>
  </div>

  <div class="founder-card">
    <img src="assets/images/Gayathri.png" alt="Gayathri Ramaswamy">
    <h3>Gayathri Ramaswamy</h3>
    <p class="role">Director & Head of Finance</p>
    <p class="d-none">
      Gayathri has been an integral part of our organization since inception.
    </p>
  </div>

  <!-- LEADERSHIP -->
  <div class="founder-card">
    <img src="assets/images/anandnew1.png" alt="Anand Mahalingham">
    <h3>Anand Mahalingham</h3>
    <p class="role">Senior Vice President & Client Partner – Insurance</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/Harish_new1.png" alt="Harish R">
    <h3>Harish R</h3>
    <p class="role">Vice President & Client Partner – Legal & ManLog</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/pamela1_new.png" alt="Pamela Bogdanovich">
    <h3>Pamela Bogdanovich</h3>
    <p class="role">Client Engagement Director</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/Tracey_ne1.png" alt="Tracey Seals">
    <h3>Tracey Seals</h3>
    <p class="role">Client Engagement Director</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/Heather_1.png" alt="Heather Sterett">
    <h3>Heather Sterett</h3>
    <p class="role">Client Engagement Manager</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/ganesan_new1.png" alt="Ganesan Durairaj">
    <h3>Ganesan Durairaj</h3>
    <p class="role">Senior Vice President</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/niru_new1.png" alt="Nirupama Rajendran">
    <h3>Nirupama Rajendran</h3>
    <p class="role">Head of Business Consulting – Insurance</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/pranesh_new_1.png" alt="Pranesh Mahendran">
    <h3>Pranesh Mahendran</h3>
    <p class="role">Delivery Partner - Insurance</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/sukumar3_new1.png" alt="Sukumar Karuppusamy">
    <h3>Sukumar Karuppusamy</h3>
    <p class="role">Technology Partner - Insurance</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/J7_new.png" alt="Jerry Gonsel">
    <h3>Jerry Gonsel</h3>
    <p class="role">Head of Operations</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/dhy_new1.png" alt="Dhyanesh Mahendran">
    <h3>Dhyanesh Mahendran</h3>
    <p class="role">Head of Infrastructure & Business Process Management</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/santhosh_new_1.png" alt="Santhosh Kumar">
    <h3>Santhosh Kumar</h3>
    <p class="role">Head of Technology Incubation & Innovation</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/thani_nw1.png" alt="Thanikaivel Ekambaram">
    <h3>Thanikaivel Ekambaram</h3>
    <p class="role">Head of Information Security</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/rajkumar_new1.png" alt="Rajkumar Kanagaraju">
    <h3>Rajkumar Kanagaraju</h3>
    <p class="role">Head of Quality Assurance & Automation</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/dominic_new1.png" alt="Dominic Lintan">
    <h3>Dominic Lintan</h3>
    <p class="role">Quality Assurance Manager & Lead, Philippines Operations</p>
  </div>

  <div class="founder-card">
    <img src="assets/images/petite_new1.png" alt="Petite Apostol">
    <h3>Petite Apostol</h3>
    <p class="role">Lead Quality Assurance Engineer</p>
  </div>

</div>

  </div>
</section>

      <section class=" py-85px d-none">
        <div class="pb-30px md:pb-85px">
          <section>
            <div class="container">
              <div class="grid grid-cols-12 gap-5">
                <div class="mb-40px col-span-12 md:col-span-10 lg:col-span-6 lg:mb-50px">
                  <div class="mb-40px lg:mb-50px">
                    <h2
                      class="inline-block rounded-5px py-5px px-[13px] font-semibold text-12-eyebrow lg:text-14-eyebrow tracking-widest uppercase antialiased bg-gold1 text-violet">
                      Our Management Team</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative">
              <ul class="container flex flex-wrap md:flex-nowrap justify-between">
                <li
                  class="-left-20px sm:-top-10px sm:left-45px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/anand1.png" alt="Anand">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block top-22px lg:top-28px xl:top-33px 2xl:top-37px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Anand Mahalingham
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Senior Vice President & Client
                      Partner – Insurance</div>
                  </div>
                </li>

                <li
                  class="-left-20px sm:-top-10px sm:left-45px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/Harish.png" alt="Anand">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block top-22px lg:top-28px xl:top-23px 2xl:top-37px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Harish R</div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Vice President & Client Partner
                      –
                      Legal & ManLog</div>
                  </div>
                </li>

                <li
                  class="-left-20px sm:-top-10px sm:left-45px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/pamela1.png" alt="Pamela">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-16px lg:top-18px xl:top-20px 2xl:top-23px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Pamela Bogdanovich
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Client Engagement Manager</div>
                  </div>
                </li>
                <li
                  class="-top-45px right-20px sm:right-85px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/Tracey.png" alt="Tracey">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-16px lg:top-18px xl:top-20px 2xl:top-23px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Tracey Seals</div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Client Engagement Director</div>
                  </div>
                </li>


              </ul>
              <div class="block max-w-[325px] mx-auto absolute top-0 inset-x-0 w-full md:hidden">
                <svg width="100%" viewBox="0 0 307 243" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="text-tomato mx-auto">
                  <path
                    d="M299.233 53.6183C312.009 81.1528 307.366 113.663 289.424 144.001C271.484 174.338 240.269 202.454 200.019 221.131C159.769 239.807 118.144 245.49 83.3956 239.602C48.644 233.714 20.8209 216.269 8.04443 188.735C-4.73203 161.2 -0.0888407 128.69 17.8529 98.3515C35.7933 68.0152 67.0082 39.8988 107.258 21.2221C147.508 2.54541 189.133 -3.1369 223.882 2.75069C258.633 8.63874 286.456 26.0838 299.233 53.6183Z"
                    stroke="currentColor"></path>
                  <circle cx="34.5" cy="220.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="204.5" cy="218.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="260.5" cy="14.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="105.5" cy="22.5" r="4.5" fill="currentColor"></circle>
                </svg>
              </div>
              <div class="hidden md:block">
                <svg width="100%" viewBox="0 0 1440 31" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="text-tomato text-tomoto1">
                  <mask id="0850449924" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%">
                    <rect width="100%" height="100%" fill="white"></rect>
                  </mask>
                  <g mask="url(#0850449924)">
                    <path
                      d="M1912.5 105.5C1912.5 108.606 1910.55 111.769 1906.53 114.975C1902.51 118.175 1896.51 121.35 1888.58 124.483C1872.73 130.748 1849.33 136.8 1819.15 142.571C1758.81 154.111 1671.48 164.506 1563.54 173.237C1347.66 190.699 1049.43 201.5 720 201.5C390.571 201.5 92.3353 190.699 -123.538 173.237C-231.477 164.506 -318.812 154.111 -379.154 142.571C-409.329 136.8 -432.731 130.748 -448.579 124.483C-456.505 121.35 -462.512 118.175 -466.529 114.975C-470.554 111.769 -472.5 108.606 -472.5 105.5C-472.5 102.394 -470.554 99.2305 -466.529 96.0245C-462.512 92.8251 -456.505 89.6502 -448.579 86.5169C-432.731 80.2524 -409.329 74.1997 -379.154 68.4289C-318.812 56.8889 -231.477 46.4936 -123.538 37.7626C92.3353 20.3009 390.571 9.5 720 9.5C1049.43 9.5 1347.66 20.3009 1563.54 37.7626C1671.48 46.4936 1758.81 56.8889 1819.15 68.4289C1849.33 74.1997 1872.73 80.2524 1888.58 86.5169C1896.51 89.6502 1902.51 92.8251 1906.53 96.0245C1910.55 99.2305 1912.5 102.394 1912.5 105.5Z"
                      stroke="currentColor"></path>
                  </g>
                </svg>
              </div>
              <div class="hidden container md:pt-5px md:flex md:justify-between">
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Anand Mahalingham</div>
                    <div class="text-12 lg:text-base antialiased">Senior Vice President & Client Partner – Insurance
                    </div>
                  </div>
                </div>

                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Harish R</div>
                    <div class="text-12 lg:text-base antialiased">Vice President & Client Partner – Legal & ManLog</div>
                  </div>
                </div>

                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Pamela Bogdanovich</div>
                    <div class="text-12 lg:text-base antialiased">Client Engagement Director</div>
                  </div>
                </div>
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Tracey Seals</div>
                    <div class="text-12 lg:text-base antialiased">Client Engagement Director</div>
                  </div>
                </div>


              </div>
            </div>
            <div class="relative" style="margin-top:5em">
              <ul class="container flex flex-wrap md:flex-nowrap justify-between">

                <li
                  class="-top-45px right-20px sm:right-85px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/Heather.png" alt="Heather">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-16px lg:top-18px xl:top-33px 2xl:top-33px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Heather Sterett
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Client Engagement Manager</div>
                  </div>
                </li>

                <li
                  class="top-10px left-5px sm:left-75px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/ganesan.png" alt="ganesan">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block top-22px lg:top-28px xl:top-23px 2xl:top-37px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Ganesan Durairaj
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Senior Vice President</div>
                  </div>
                </li>
                <li
                  class="-left-20px sm:-top-10px sm:left-45px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/niru.png" alt="niru">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block top-22px lg:top-28px xl:top-20px 2xl:top-37px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Nirupama Rajendran
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Head of Business Consulting –
                      Insurance</div>
                  </div>
                </li>
                <li
                  class="-left-20px sm:-top-10px sm:left-45px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/pranesh.png" alt="Pranesh">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block top-22px lg:top-28px xl:top-20px 2xl:top-37px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Pranesh Mahendran
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Delivery Partner - Insurance
                    </div>
                  </div>
                </li>


              </ul>
              <div class="block max-w-[325px] mx-auto absolute top-0 inset-x-0 w-full md:hidden">
                <svg width="100%" viewBox="0 0 307 243" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="text-tomato mx-auto">
                  <path
                    d="M299.233 53.6183C312.009 81.1528 307.366 113.663 289.424 144.001C271.484 174.338 240.269 202.454 200.019 221.131C159.769 239.807 118.144 245.49 83.3956 239.602C48.644 233.714 20.8209 216.269 8.04443 188.735C-4.73203 161.2 -0.0888407 128.69 17.8529 98.3515C35.7933 68.0152 67.0082 39.8988 107.258 21.2221C147.508 2.54541 189.133 -3.1369 223.882 2.75069C258.633 8.63874 286.456 26.0838 299.233 53.6183Z"
                    stroke="currentColor"></path>
                  <circle cx="34.5" cy="220.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="204.5" cy="218.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="260.5" cy="14.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="105.5" cy="22.5" r="4.5" fill="currentColor"></circle>
                </svg>
              </div>
              <div class="hidden md:block">
                <svg width="100%" viewBox="0 0 1440 31" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="text-tomato text-tomoto1">
                  <mask id="0850449924" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%">
                    <rect width="100%" height="100%" fill="white"></rect>
                  </mask>
                  <g mask="url(#0850449924)">
                    <path
                      d="M1912.5 105.5C1912.5 108.606 1910.55 111.769 1906.53 114.975C1902.51 118.175 1896.51 121.35 1888.58 124.483C1872.73 130.748 1849.33 136.8 1819.15 142.571C1758.81 154.111 1671.48 164.506 1563.54 173.237C1347.66 190.699 1049.43 201.5 720 201.5C390.571 201.5 92.3353 190.699 -123.538 173.237C-231.477 164.506 -318.812 154.111 -379.154 142.571C-409.329 136.8 -432.731 130.748 -448.579 124.483C-456.505 121.35 -462.512 118.175 -466.529 114.975C-470.554 111.769 -472.5 108.606 -472.5 105.5C-472.5 102.394 -470.554 99.2305 -466.529 96.0245C-462.512 92.8251 -456.505 89.6502 -448.579 86.5169C-432.731 80.2524 -409.329 74.1997 -379.154 68.4289C-318.812 56.8889 -231.477 46.4936 -123.538 37.7626C92.3353 20.3009 390.571 9.5 720 9.5C1049.43 9.5 1347.66 20.3009 1563.54 37.7626C1671.48 46.4936 1758.81 56.8889 1819.15 68.4289C1849.33 74.1997 1872.73 80.2524 1888.58 86.5169C1896.51 89.6502 1902.51 92.8251 1906.53 96.0245C1910.55 99.2305 1912.5 102.394 1912.5 105.5Z"
                      stroke="currentColor"></path>
                  </g>
                </svg>
              </div>
              <div class="hidden container md:pt-5px md:flex md:justify-between">
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Heather Sterett</div>
                    <div class="text-12 lg:text-base antialiased">Client Engagement Manager</div>
                  </div>
                </div>

                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Ganesan Durairaj</div>
                    <div class="text-12 lg:text-base antialiased">Senior Vice President</div>
                  </div>
                </div>
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Nirupama Rajendran</div>
                    <div class="text-12 lg:text-base antialiased">Head of Business Consulting – Insurance</div>
                  </div>
                </div>
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Pranesh Mahendran</div>
                    <div class="text-12 lg:text-base antialiased">Delivery Partner - Insurance</div>
                  </div>
                </div>


              </div>
            </div>

            <div class="relative" style="margin-top:5em">
              <ul class="container flex flex-wrap md:flex-nowrap justify-between">
                <li
                  class="-top-45px right-20px sm:right-85px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/sukumar3.png" alt="Sukumar">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-16px lg:top-18px xl:top-33px 2xl:top-23px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Sukumar Karuppusamy
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Technology Partner - Insurance
                    </div>
                  </div>
                </li>

                <li
                  class="top-10px left-5px sm:left-75px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/J7.png" alt="Jerry">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-18px lg:top-22px xl:top-23px 2xl:top-28px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Jerry Gonsel</div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Head of Operations</div>
                  </div>
                </li>
                <li
                  class="-top-40px -right-25px sm:right-40px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/dhy_main.png" alt="Dhyanesh">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block top-22px lg:top-28px xl:top-20px 2xl:top-37px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Dhyanesh Mahendran
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Head of Infrastructure &
                      Business
                      Process Management</div>
                  </div>
                </li>
                <li
                  class="-left-20px sm:-top-10px sm:left-45px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/santhosh.png" alt="Santhosh">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-16px lg:top-18px xl:top-23px 2xl:top-23px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Santhosh Kumar
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Head of Technology Incubation &
                      Innovation</div>
                  </div>
                </li>



              </ul>
              <div class="block max-w-[325px] mx-auto absolute top-0 inset-x-0 w-full md:hidden">
                <svg width="100%" viewBox="0 0 307 243" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="text-tomato mx-auto">
                  <path
                    d="M299.233 53.6183C312.009 81.1528 307.366 113.663 289.424 144.001C271.484 174.338 240.269 202.454 200.019 221.131C159.769 239.807 118.144 245.49 83.3956 239.602C48.644 233.714 20.8209 216.269 8.04443 188.735C-4.73203 161.2 -0.0888407 128.69 17.8529 98.3515C35.7933 68.0152 67.0082 39.8988 107.258 21.2221C147.508 2.54541 189.133 -3.1369 223.882 2.75069C258.633 8.63874 286.456 26.0838 299.233 53.6183Z"
                    stroke="currentColor"></path>
                  <circle cx="34.5" cy="220.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="204.5" cy="218.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="260.5" cy="14.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="105.5" cy="22.5" r="4.5" fill="currentColor"></circle>
                </svg>
              </div>
              <div class="hidden md:block">
                <svg width="100%" viewBox="0 0 1440 31" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="text-tomato text-tomoto1">
                  <mask id="0850449924" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%">
                    <rect width="100%" height="100%" fill="white"></rect>
                  </mask>
                  <g mask="url(#0850449924)">
                    <path
                      d="M1912.5 105.5C1912.5 108.606 1910.55 111.769 1906.53 114.975C1902.51 118.175 1896.51 121.35 1888.58 124.483C1872.73 130.748 1849.33 136.8 1819.15 142.571C1758.81 154.111 1671.48 164.506 1563.54 173.237C1347.66 190.699 1049.43 201.5 720 201.5C390.571 201.5 92.3353 190.699 -123.538 173.237C-231.477 164.506 -318.812 154.111 -379.154 142.571C-409.329 136.8 -432.731 130.748 -448.579 124.483C-456.505 121.35 -462.512 118.175 -466.529 114.975C-470.554 111.769 -472.5 108.606 -472.5 105.5C-472.5 102.394 -470.554 99.2305 -466.529 96.0245C-462.512 92.8251 -456.505 89.6502 -448.579 86.5169C-432.731 80.2524 -409.329 74.1997 -379.154 68.4289C-318.812 56.8889 -231.477 46.4936 -123.538 37.7626C92.3353 20.3009 390.571 9.5 720 9.5C1049.43 9.5 1347.66 20.3009 1563.54 37.7626C1671.48 46.4936 1758.81 56.8889 1819.15 68.4289C1849.33 74.1997 1872.73 80.2524 1888.58 86.5169C1896.51 89.6502 1902.51 92.8251 1906.53 96.0245C1910.55 99.2305 1912.5 102.394 1912.5 105.5Z"
                      stroke="currentColor"></path>
                  </g>
                </svg>
              </div>
              <div class="hidden container md:pt-5px md:flex md:justify-between">

                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Sukumar Karuppusamy</div>
                    <div class="text-12 lg:text-base antialiased">Technology Partner - Insurance</div>
                  </div>
                </div>

                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Jerry Gonsel</div>
                    <div class="text-12 lg:text-base antialiased">Head of Operations </div>
                  </div>
                </div>
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Dhyanesh Mahendran</div>
                    <div class="text-12 lg:text-base antialiased">Head of Infrastructure & Business Process Management
                    </div>
                  </div>
                </div>
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Santhosh Kumar </div>
                    <div class="text-12 lg:text-base antialiased">Head of Technology Incubation & Innovation</div>
                  </div>
                </div>

              </div>
            </div>

            <div class="relative" style="margin-top:5em">
              <ul class="container flex flex-wrap md:flex-nowrap justify-between">
                <li
                  class="top-10px left-5px sm:left-75px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/thani.png" alt="Thanikaivel">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-16px lg:top-18px xl:top-33px 2xl:top-23px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Thanikaivel
                      Ekambaram
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Head of Information Security
                    </div>
                  </div>
                </li>
                <li
                  class="-top-40px -right-25px sm:right-40px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/rajkumar.png" alt="Rajkumar">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-18px lg:top-22px xl:top-20px 2xl:top-28px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Rajkumar Kanagaraju
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Head of Quality Assurance &
                      Automation </div>
                  </div>
                </li>
                <li
                  class="-top-40px -right-25px sm:right-40px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/dominic.png" alt="Dominic">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-18px lg:top-22px xl:top-20px 2xl:top-28px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Dominic Lintan
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Quality Assurance Manager &
                      Lead,
                      Philippines Operations</div>
                  </div>
                </li>
                <li
                  class="-top-40px -right-25px sm:right-40px relative w-1/2 z-1 md:odd:px-20px md:even:px-20px md:inset-auto md:pb-0 md:w-auto md:z-0">
                  <div class="w-90px mx-auto md:w-auto lg:h-200px xl:h-[280px] max-w-[280px]">
                    <img width="100%" src="assets/images/petite.png" alt="Petite">
                  </div>
                  <div
                    class="hidden relative w-20px h-20px rounded-full bg-tomato md:block md:top-18px lg:top-22px xl:top-20px 2xl:top-28px">
                  </div>
                  <div class="pb-30px max-w-[150px] mx-auto block text-center md:hidden">
                    <div class="bg-ivory rounded-full  text-18 antialiased tracking-tight">Petite Apostol
                    </div>
                    <div class="bg-ivory rounded-full text-12 lg:text-base antialiased">Lead Quality Assurance Engineer
                    </div>
                  </div>
                </li>
              </ul>
              <div class="block max-w-[325px] mx-auto absolute top-0 inset-x-0 w-full md:hidden">
                <svg width="100%" viewBox="0 0 307 243" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="text-tomato mx-auto">
                  <path
                    d="M299.233 53.6183C312.009 81.1528 307.366 113.663 289.424 144.001C271.484 174.338 240.269 202.454 200.019 221.131C159.769 239.807 118.144 245.49 83.3956 239.602C48.644 233.714 20.8209 216.269 8.04443 188.735C-4.73203 161.2 -0.0888407 128.69 17.8529 98.3515C35.7933 68.0152 67.0082 39.8988 107.258 21.2221C147.508 2.54541 189.133 -3.1369 223.882 2.75069C258.633 8.63874 286.456 26.0838 299.233 53.6183Z"
                    stroke="currentColor"></path>
                  <circle cx="34.5" cy="220.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="204.5" cy="218.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="260.5" cy="14.5" r="4.5" fill="currentColor"></circle>
                  <circle cx="105.5" cy="22.5" r="4.5" fill="currentColor"></circle>
                </svg>
              </div>
              <div class="hidden md:block">
                <svg width="100%" viewBox="0 0 1440 31" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="text-tomato text-tomoto1">
                  <mask id="0850449924" maskUnits="userSpaceOnUse" x="0" y="0" width="100%" height="100%">
                    <rect width="100%" height="100%" fill="white"></rect>
                  </mask>
                  <g mask="url(#0850449924)">
                    <path
                      d="M1912.5 105.5C1912.5 108.606 1910.55 111.769 1906.53 114.975C1902.51 118.175 1896.51 121.35 1888.58 124.483C1872.73 130.748 1849.33 136.8 1819.15 142.571C1758.81 154.111 1671.48 164.506 1563.54 173.237C1347.66 190.699 1049.43 201.5 720 201.5C390.571 201.5 92.3353 190.699 -123.538 173.237C-231.477 164.506 -318.812 154.111 -379.154 142.571C-409.329 136.8 -432.731 130.748 -448.579 124.483C-456.505 121.35 -462.512 118.175 -466.529 114.975C-470.554 111.769 -472.5 108.606 -472.5 105.5C-472.5 102.394 -470.554 99.2305 -466.529 96.0245C-462.512 92.8251 -456.505 89.6502 -448.579 86.5169C-432.731 80.2524 -409.329 74.1997 -379.154 68.4289C-318.812 56.8889 -231.477 46.4936 -123.538 37.7626C92.3353 20.3009 390.571 9.5 720 9.5C1049.43 9.5 1347.66 20.3009 1563.54 37.7626C1671.48 46.4936 1758.81 56.8889 1819.15 68.4289C1849.33 74.1997 1872.73 80.2524 1888.58 86.5169C1896.51 89.6502 1902.51 92.8251 1906.53 96.0245C1910.55 99.2305 1912.5 102.394 1912.5 105.5Z"
                      stroke="currentColor"></path>
                  </g>
                </svg>
              </div>
              <div class="hidden container md:pt-5px md:flex md:justify-between">
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Thanikaivel Ekambaram</div>
                    <div class="text-12 lg:text-base antialiased">Head of Information Security </div>
                  </div>
                </div>
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Rajkumar Kanagaraju </div>
                    <div class="text-12 lg:text-base antialiased">Head of Quality Assurance & Automation</div>
                  </div>
                </div>
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Dominic Lintan</div>
                    <div class="text-12 lg:text-base antialiased">Quality Assurance Manager & Lead, Philippines
                      Operations
                    </div>
                  </div>
                </div>
                <div
                  class="pb-30px relative w-1/2 odd:pr-15px even:pl-15px md:odd:px-20px md:even:px-20px md:pb-0 md:w-auto">
                  <div class="md:w-139px lg:w-[203px] xl:w-[267px] 2xl:w-[280px]">
                    <div class=" text-18 antialiased tracking-tight md:text-22">Petite Apostol </div>
                    <div class="text-12 lg:text-base antialiased">Lead Quality Assurance Engineer</div>
                  </div>
                </div>

              </div>
            </div>

          </section>
        </div>
        <div class="container md:grid md:grid-cols-12 md:gap-5">

          <div class="col-span-12 lg:col-span-10 lg:col-start-2">
            <div
              class="swiper-container swiper-container-initialized swiper-container-vertical swiper-container-pointer-events">
              <div class="swiper-wrapper">

                <div class="swiper-slide" data-swiper-slide-index="1">
                  <div class="text-left md:grid md:grid-cols-10 md:gap-5">
                    <div
                      class="flex items-start text-20  font-light tracking-tight antialiased md:text-25 md:col-span-3 md:-mt-5px">
                      <div
                        class="w-0 h-10px mt-7px flex-shrink-0 rounded-full bg-violet overflow-hidden transition-all ease-out lg:mt-5px lg:h-20px">
                      </div>
                      Diversity & Inclusion
                    </div>
                    <div
                      class="antialiased text-12 tracking-wide md:tracking-normal md:text-base md:col-span-8 md:col-start-4">
                      <p style="margin:0 0 10px 0">We understand the significance of drawing the circle wider to broaden
                        our
                        perspective, to connect on a deeper level, and to be a force for positive change. </p>
                      <p style="margin:10px 0">For us, diversity, equity and inclusion are more than guiding principles.
                        They are central to our continued growth. We firmly believe that embracing diversity and
                        inclusion
                        (D&I) drives innovation and improves outcomes. </p>
                      <p style="margin:10px 0 0 0">Going further, as a Certified Minority Owned Business Enterprise
                        (MBE)
                        and a Certified Small Business Enterprise (SBE), we engage & utilize Woman Owned Business
                        Enterprise
                        (WBE), Disabled Business Enterprise (DBE), Veteran Owned Business Enterprise (VBE) &
                        Service-Disabled Veteran Owned Business Enterprise (SDVBE) information technology specialists
                        and
                        create a robust environment for all of our consultants to work together & succeed.</p>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide" data-swiper-slide-index="2">
                  <div class="text-left md:grid md:grid-cols-10 md:gap-5">
                    <div
                      class="flex items-start text-20  font-light tracking-tight antialiased md:text-25 md:col-span-3 md:-mt-5px">
                      <div
                        class="w-0 h-10px mt-7px flex-shrink-0 rounded-full bg-violet overflow-hidden transition-all ease-out lg:mt-5px lg:h-20px">
                      </div>
                      Partnerships
                    </div>
                    <div
                      class="antialiased text-12 tracking-wide md:tracking-normal md:text-base md:col-span-8 md:col-start-4">
                      <p>Successful development agenda requires inclusive partnerships — at the global, regional,
                        national
                        and local levels — built upon principles and values, and upon a shared vision and shared goals
                        placing people and the client at the center. With this world view, we’ve partnered with industry
                        leaders in multiple industries to bring the best of the solutions & services to our clients.
                      </p>
                    </div>
                  </div>
                </div>


                <div class="swiper-slide" data-swiper-slide-index="3">
                  <div class="text-left md:grid md:grid-cols-10 md:gap-5">
                    <div
                      class="flex items-start text-20  font-light tracking-tight antialiased md:text-25 md:col-span-3 md:-mt-5px">
                      <div
                        class="w-0 h-10px mt-7px flex-shrink-0 rounded-full bg-violet overflow-hidden transition-all ease-out lg:mt-5px lg:h-20px">
                      </div>
                      Community Giving
                    </div>
                    <div
                      class="antialiased text-12 tracking-wide md:tracking-normal md:text-base md:col-span-8 md:col-start-4">
                      <p>As a responsible corporate citizen, Mahathi consistently supports the communities in which we
                        operate through financial assistance, volunteering, community education and green space
                        creation.
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

<section id="page-block-leadership" class="page-block-section position-relative d-none" style="min-height: 0;">
  <div class="container position-relative">

    <div class="row leadership leadership-500147" data-carousel="500147">

      <div
  *ngFor="let leader of leadershipRows"
  class="col-12 col-md-6 col-xl-4 leadership-card">

  <div class="card-wrapper">

    <!-- IMAGE -->
    <img
      class="card-image"
      [src]="'assets/images/' + leader.filename"
      [alt]="leader.name">

    <!-- NAME BAR (always visible) -->
    <div class="card-footer">
      <h3>{{ leader.name }}</h3>
      <p>{{ leader.title }}</p>
    </div>

    <!-- HOVER OVERLAY -->
    <div class="card-overlay">
      <div class="overlay-content">
        <h3>{{ leader.name }}</h3>
        <p class="title">{{ leader.title }}</p>
        <p class="desc">{{ leader.description }}</p>
        <a [href]="leader.link">READ MORE</a>
      </div>
    </div>

  </div>
</div>


    </div>
  </div>
</section>

         

    </div>
  </div>
</div>